.statistics {
  width: 450px;
  padding: 50px;
  margin-top: 16px;
  margin-right: auto;
  margin-left: auto;

  background-color: #eeeeee;
  border: grey 1px solid;
}
.title {
  margin-right: auto;
  margin-left: auto;
}
.statlist {
  display: flex;
  text-align: center;
  justify-content: center;

  margin-right: auto;
  margin-left: auto;
}
.statlist > li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  padding: 20px;
}
